{% extends 'base.html' %}

{% block content %}
<ul class="list-unstyled">
  <li class="media">
   {% for product in product_list %}
    <div class="media">
        <img src="{{ product.image.url }}" class=" rounded align-self-start mr-3" alt="..." style="width: 100px; height: 100px;">
        <div class="media-body">
          <h4 class="mt-0" >
            <a href="{{product.get_absolute_url}}" >
              {{ product.name }}</a>
          </h4>
        <div>
          <p>{{ product.price }} RUB</p>
        </div>

        </div>
    </div>
  </li>
    {% endfor %}
{% endblock content %}
